<!DOCTYPE html>
<html lang="zh-Hants">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>會員專屬三月韓劇-NICE-V 韓劇迷！</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="styles/member.css" />
  </head>
  <body>
    <img class="flxed-image" src="images/韓迷背景1.jpg" alt="fixed-image" />

    <header>
      <section class="logo">
        <a href="/">
          <img title="NICE-V 韓劇迷！" src="Icons/mylogo1.svg" alt="NICE-V" />
        </a>
        <a href="/">
          <h1 title="NICE-V 韓劇迷！">韓劇迷！~</h1>
        </a>
      </section>

      <section class="searcharea">
        <div class="wrap">
          <div class="search">
            <input
              class="search-bar"
              type="text"
              name="search"
              id="search"
              placeholder=""
            />
            <button title="搜尋" class="search-btn">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>

        <nav>
          <ul>
            <li>
              <a href="/news1"
                ><i class="fa-solid fa-envelope-open-text"></i> 韓劇新聞</a
              >
            </li>
            <!-- <li>
              <a href="#"
                ><i class="fa-solid fa-magnifying-glass-chart"></i>
                韓劇開播情報</a
              >
            </li> -->
            <li>
              <a href="/membertop10"
                ><i class="fa-solid fa-ranking-star"></i> 韓劇TOP10排行</a
              >
            </li>
            <li>
              <a href="/memberprofile"
                ><i class="fa-solid fa-user-group"></i> 會員資料</a
              >
            </li>
            <li>
              <a href="/signout"
                ><i class="fa-solid fa-user-group"></i> 會員登出</a
              >
            </li>
          </ul>
        </nav>
      </section>
    </header>

    <main>
      <section class="membersvip">
        <section class="head-Nav">
          <div class="head-left">
            <ul class="drop-down-menu">
              <li>
                <a href="#">韓劇播出</a>
                <ul class="drop-down-menu-1">
                  <li>
                    <a href="/member1-1">一月韓劇</a>
                  </li>
                  <li>
                    <a href="/member2-1">二月韓劇</a>
                  </li>
                  <li><a href="#">三月韓</a></li>
                </ul>
              </li>

              <li>
                <a href="/membertop10">韓劇TOP10排行</a>
                <ul class="drop-down-menu-1">
                  <li>
                    <a href="/membertop10-1">一月收視率</a>
                  </li>
                  <li>
                    <a href="/membertop10-2">二月收視率</a>
                  </li>
                  <li>
                    <a href="/membertop10">三月收視率</a>
                  </li>
                </ul>
              </li>
            </ul>
            <h3>
              會員專屬-三月韓劇開播情報 &nbsp;&nbsp;&nbsp;&nbsp; 歡迎收看 NICE-V
              娛樂視頻
            </h3>
          </div>

          <hr />

          <section class="membermain">
            <div class="membermain-left">
              <p><a href="/member">鬼怪計程車</a></p>
              <p>
                <a href="/member3-2">離婚律師申晟瀚</a>
              </p>
              <p><a href="/member3-3">綠洲</a></p>
              <p><a href="/member3-4">黑暗榮耀2</a></p>
              <p>
                <a href="/member3-5"
                  >潘多拉：被操縱的樂園</a
                >
              </p>
              <p><a href="#">秘密的女人</a></p>
              <p><a href="/member3-7">花書生熱愛史</a></p>
              <p><a href="/member3-8">真的出現了！</a></p>
              <p>
                <a href="/member3-9">是金子是玉子啊</a>
              </p>
              <p><a href="/member3-10">朝鮮律師</a></p>
              <p>
                <a href="/member3-11">放學後戰爭活動</a>
              </p>
            </div>

            <div class="membermain-mid">
                <p>
                  《秘密的女人》將上演豪門企業女人們的復仇秘密<br />
                  &nbsp;
                  &nbsp;主演：崔允英、李倸英、李善鎬、韓基雄、申高恩、李垠亨
                </p>
                <iframe
                  width="560"
                  height="315"
                  src="https://www.youtube.com/embed/UPD95wYDbuM"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen
                ></iframe>
                <div class="btns">
                  <button>喜歡</button>
                  <button>不喜歡</button>
                </div>
              </div>
          </section>
        </section>
      </section>

      <section class="membermain-bottom">
        <section class="container">
          <div>
            <h3>
              Hi！<%=name%>！<br />
              影片評論留言區
            </h3>

            <form action="/signin-comment" method="get">
              <p>會員:&nbsp;<%=name%><br /></p>
              <p>留言:</p>
              <input class="textarea" type="text" name="comment" />
              <button>送出</button>
            </form>
          </div>
          <div class="speak">
            <h3>留言列表：</h3>
            <%for(let i = 0; i < comments.length; i++){ %>
            <p>會員:<%= comments[i].name%><br /></p>
            <p>
              留言:<br />
              <%= comments[i].comment %> <br />
            </p>
            <p>時間:<%= comments[i].dateValues %><br /></p>
            <hr />
            <% } %>
          </div>
        </section>

        <section class="info-top10">
          <h3>三月收視率排行</h3>
          <hr />
          <div class="top10s">
            <a href="/membertop10">
              <img
                title="黑暗榮耀2"
                src="images/三月韓劇/黑暗榮耀2.jpg"
                alt="黑暗榮耀2"
              />
            </a>

            <a href="/membertop10">
              <p>
                主演：<br />
                宋慧喬、李到晛、林智妍、廉惠蘭、朴成勳、鄭星一、金赫拉、車珠英、金建宇
              </p>
            </a>
          </div>
          <div>
            <div class="top10list">
              <a href="/membertop10">Top1:黑暗榮耀2</a>
              <a href="/membertop10">Top2:模範計程車2</a>
              <a href="/membertop10">Top3:秘密的女人</a>
              <a href="/membertop10"
                >Top4:原來這就是愛啊</a
              >
              <a href="/membertop10">Top5:綠洲</a>
              <a href="/membertop10"
                >Top6:離婚律師申晟瀚</a
              >
              <a href="/membertop10"
                >Top7:潘朵拉：偽造的樂園</a
              >
              <a href="/membertop10">Top8:青春月譚</a>
              <a href="/membertop10">Top9:木偶的季節</a>
              <a href="/membertop10">Top10:神聖的偶像</a>
            </div>
          </div>
        </section>
      </section>
    </main>

    <footer>
      <section class="logo">
        <img src="Icons/mylogo1.svg" alt="nicev996" />
        <h3>韓迷-韓劇播出介紹</h3>
      </section>
      <nav>
        <ul>
          <li>
            <a href="/company">關於我們</a>
          </li>
          <li>
            <a href="#">服務條款</a>
          </li>
          <li>
            <a href="#">隱私政策</a>
          </li>
          <li>
            <a href="/contact">聯絡我們</a>
          </li>
        </ul>
      </nav>
      <section class="links">
        <a
          title="Youtube"
          target="_blank"
          href="https://www.youtube.com/@nicev996"
          ><img src="Icons/youtube.svg" alt="youtube"
        /></a>
        <a title="twitter" target="_blank" href="https://twitter.com/HYV996"
          ><img src="Icons/twitter.svg" alt="twitter"
        /></a>
        <a
          title="Facebook"
          target="_blank"
          href="https://www.facebook.com/profile.php?id=100091266142253"
          ><img src="Icons/facebook.svg" alt="facebook"
        /></a>
        <a
          title="instagram"
          target="_blank"
          href="https://www.instagram.com/nicev996/"
          ><img src="Icons/instagram.svg" alt="instagram"
        /></a>
      </section>
    </footer>
    <button class="backtop" onclick="backtop()"></button>
  </body>
  <script>
    //回頂端
    function backtop() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  </script>
</html>
